{% extends "base.html" %}
{% block title %}Home · REACH{% endblock %}

{% block content %}
  <!-- Row 1 -->
  <div class="row mb-3">
    <input type="text" id="roomName" placeholder="Enter Room Name" class="form-control w-auto d-inline-block" />
    <button id="createBtn" class="btn btn-outline-primary ms-2">Create Room</button>
  </div>

  <!-- Row 2 -->
  <div class="row">
    <input type="text" id="joinId" placeholder="Enter Room ID" class="form-control w-auto d-inline-block" />
    <button id="joinBtn" class="btn btn-outline-secondary ms-2">Join From ID</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
  <script src="{{ url_for('static', filename='landing.js') }}"></script>
{% endblock %}
