{% extends "index.html" %}
{% block content %}
<body>

    <!-- Row 1 -->
    <div class="row">
        <button id="generateBtn">Generate QR Code</button>
    </div>

    <!-- Row 2 -->
    <div class="row">
        <input type="text" id="joinId" placeholder="Enter ID..." />
        <button id="joinBtn">Join From ID</button>
    </div>

    
    <!-- QRCode.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>

    <!-- Link your landing.js -->
    <script src="../static/landing.js"></script>

</body>
{% endblock %}
