{% extends "index.html" %}
{% block content %}
<div class="container py-4">
  <form class="col-lg-5 col-md-6 col-sm-8 mx-auto">
    <h2 class="text-center mb-3">Sign in</h2>

    <div id="signinError" class="alert alert-danger d-none" role="alert"></div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input name="email" required type="email" class="form-control" id="email" autocomplete="username" />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input name="password" required minlength="6" type="password" class="form-control" id="password" autocomplete="current-password" />
    </div>

    <button type="submit" class="btn btn-outline-primary w-100">Submit</button>
  </form>
</div>
{% endblock %}